* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    padding: 10px;
    background: grey;
}

.item{
    margin: 25px;
    border: solid 1px black;
    width: 250px;
    background: darkslateblue;

    display: inline-block;
}
.item img {
    width: 100%;
}
.itemFooter{
    display: grid;
    grid-template-columns: 7fr 1fr;
    background: darkgray;
}

.itemFooter button{
    height: 30px;
    background: forestgreen;
}
.itemFooter button:hover {
    background: darkgreen;
}
#container{
    text-align: center;
}
.itemFooterimg{
    height: 100%;
}