* {
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    padding: 10px;
    background: grey;
}

.item{
    margin: 25px;
    border: solid 1px black;
    width: 250px;
    background: aquamarine;

    display: inline-block;
}
.item img {
    width: 100%;
}
.itemimg{
    height: 180px;
}
.itemFooter{
    display: grid;
    grid-template-columns: 7fr 1fr;
    background: darkgray;
}

.itemFooter button{
    height: 30px;
    background: forestgreen;
}
.itemFooter button:hover {
    background: darkgreen;
}
.container, #container{
    text-align: center;
}
.itemFooterimg{
    height: 100%;
}
#customeButton{
    padding: 5px;
}
h4{
    background: bisque;
}
#pizzaForm{
    border-radius: 30px;
    height: 700px;
    width: 500px;
    text-align: center;
    background: bisque;
    position: absolute; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}