* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    padding: 10px;
    background: grey;
    display: grid;
    grid-template-columns: 2fr 5fr;
}
header{
    width: 100%;
    background: coral;
    min-height: 80px;
}
#ingredience{
    border: 2px solid black;
}
#ingredience ul{
    border-bottom: black solid 1px;
}

#ingredience ul li{
    padding: 5px;
}
.listContainer{
    min-height: 200px;
    min-width: 200px;
    background: aqua;
    text-align: center;
}
#priceForTempl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}